{:name "component-dependents"
 :description "Components that depend on a given component (reverse deps) [requires params: component-name]"
 :query [:find ?dep-name ?dep-layer
         :in $ ?comp-name
         :where
         [?target :component/name ?comp-name]
         [?c :component/depends-on ?target]
         [?c :component/name ?dep-name]
         [(get-else $ ?c :component/layer :unknown) ?dep-layer]]
 :params [:component-name]}
