{:name "component-dependencies"
 :description "Direct dependencies of a component [requires params: component-name]"
 :query [:find ?dep-name ?dep-layer ?dep-category
         :in $ ?comp-name
         :where
         [?c :component/name ?comp-name]
         [?c :component/depends-on ?d]
         [?d :component/name ?dep-name]
         [(get-else $ ?d :component/layer :unknown) ?dep-layer]
         [(get-else $ ?d :component/category :unknown) ?dep-category]]
 :params [:component-name]}
