{:name "files-by-churn"
 :description "Files ranked by total lines added and deleted"
 :federation-mode :tombstone-only
 :query [:find ?path (sum ?adds) (sum ?dels)
         :where
         [?commit :commit/changed-files ?file]
         [?commit :commit/additions ?adds]
         [?commit :commit/deletions ?dels]
         [?file :file/path ?path]]}
