{:name "llm-cost-total"
 :description "Total LLM token usage and estimated cost"
 :query [:find (sum ?in) (sum ?out) (sum ?cost)
         :where
         [?tx :tx/op ?op]
         [(contains? #{:analyze :synthesize} ?op)]
         [(get-else $ ?tx :tx/input-tokens 0) ?in]
         [(get-else $ ?tx :tx/output-tokens 0) ?out]
         [(get-else $ ?tx :tx/cost-usd 0.0) ?cost]]}
